* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    .box-1 {
        width: 50px;
        height: 50px;
        background-color: chocolate;
    }
       .box-11 {
        width: 50px;
        height: 50px;
        background-color: aquamarine;
        }
    
    .box-2 {
        width: 30px;
        height: 30px;
        background-color: firebrick;
    }
}
