* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.nav {
    background-image: linear-gradient(to top, rgb(88, 173, 159) 0%, #e198af 100%);
    width: 366px;
    height: 100%;
    float: left;
    padding: 100px 50px;
}

.logo {
    background-color: rgb(184, 226, 183);
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url(../img/profile.jpeg);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 50px;
    border: 1px solid white;
}

.logo:hover {
    transform: scale(1.2) rotate(45deg);
}

.nav-btn-all {
    width: 150px;
    margin: auto;
}

.nav-btn {
    background-color: rgb(63, 127, 116);
    color: rgb(253, 203, 221);
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid white;
}

.nav-btn:hover {
    background-color: rgb(255, 200, 216);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.nav-btn:active {
    background-color: rgb(23, 24, 24);
    color: rgb(251, 255, 255);
}

.container {
    width: calc(100% - 366px);
    height: 100%;
    background-color: rgb(45, 93, 86);
    float: left;
    padding-top: calc((100vh - 570px) / 2);
}

.content {
    width: 957px;
    height: 570px;
    margin: auto;
}

.img {
    width: calc((100% - 10px * 2) / 3);
    height: 100%;
    border: 2px solid rgb(255, 200, 216);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
}

.img:hover {
    opacity: 30%;
    /* transform: scale(0.9); */
}

.img-x {
    background-image: url(../img/album1.jpg);
    background-position: 30%;
}

.img-y {
    background-image: url(../img/album3.jpeg);

}

.img-z {
    background-image: url(../img/album\ 2.jpeg);
    margin-right: -10px;
}